body{
    background-color: #111;
}

.link-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

.link-bio img{
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.link-bio h1{
    font-size: 40px;
    color: white;
}

.link-bio a {
    margin: 3px;
    background-color: #ff0000;
    color: white;
    padding: 15px;
    width: 50%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ff0000;
}

.link-bio a:hover{
    background-color: #000000;
    color: #ff0000;
}
